:root {
    --accent-color: #F08E41;
    --bg-color: #343434;
    --add-bg-color: #1B3061;
    --text-color: #FFF;
    --add-text-color: #757575;
} 
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
  padding: 0;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
    font-family: Merriweather;
}
.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: var(--bg-color);
}
.header > .container { 
    display: flex;
    align-items: center;
}
.header-logo {
    width: 3em;
    height: 3em;
    margin-right: 1em;
}
.header-text {
    margin-right: 3em;
}
.header-nav-list {
    display: flex;
    gap: 1.7em;
}
.header-list-item-link {
    color: var(--text-color);
font-family: Merriweather;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.hero {
    padding-bottom: 27em;
    background-image: url('../images/hero-bg.png');
    background-position: center;
    background-size: cover;
}